:root {
  --brand-color: #e07b67;

  --dark-10: #121214;
  --dark-20: #17171a;
  --dark-30: #202024;
  --dark-40: #252529;

  --gray: #afabb6;
  --white: #ffffff;

  --font_space_grotesk: "Space Grotesk", sans-serif;
  --font_inter: "Inter", sans-serif;
}
